@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
overflow-x: hidden;
}

.font-heading {
    font-family: "cormorant";
}

.toggle-button {
    position: relative;
    background-color: #ddd;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    padding: 2px;
    cursor: pointer;
  }
  
  .toggle-button::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: theme('colors.mainGreen');
    transition: transform 0.3s ease;
  }
  
  .toggle-button.dark::before {
    transform: translateX(30px);
    background-color: theme('colors.mainBlue');
  }
  